{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fiche De Soin Creation</h1>

    {{ form_start(form) }}
    <table >
        <tr>
            <td>{{ form_label(form.observation ) }}</td>
            <td>{{ form_widget(form.observation) }}</td>
            <td>{{ form_errors(form.observation) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.idAnimal) }}</td>
            <td>{{ form_widget(form.idAnimal) }}</td>
            <td>{{ form_errors(form.idAnimal) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(form.prochainRDV) }}</td>
            <td>{{ form_widget(form.prochainRDV) }}</td>
            <td>{{ form_errors(form.prochainRDV) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.medicament) }}</td>
            <td>{{ form_widget(form.medicament) }}</td>
            <td>{{ form_errors(form.medicament) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.etat) }}</td>
            <td>{{ form_widget(form.etat) }}</td>
            <td>{{ form_errors(form.etat) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.Ajouter) }}</td>
            <td>{{ form_widget(form.Ajouter) }}</td>
            <td></td>
        </tr>

    </table>

    {{ form_end(form) }}


{% endblock %}
