{% extends ":FrontEnd:base.html.twig" %}
{% block stylesheets %}
    <style>
        body{background: url("https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Efemmeactuelle.2Efr.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Factu.2Fnews-actu.2Fjob-de-reve-devenez-calineur-pour-chats-39705.2F14560357-1-fre-FR.2Fjob-de-reve-une-clinique-veterinaire-recherche-un-calineur-pour-chats.2Ejpg/748x372/quality/80/crop-from/center/job-de-reve-une-clinique-veterinaire-recherche-un-calineur-pour-chats.jpeg")
        no-repeat;}
    </style>
{% endblock %}
{% block body %}
<h1>Ajouter un accessoire</h1>
    <!--<form action="{{ path("ajouter_accessoire") }}" method="post" class="form">-->
        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form-group">
                    <span class="input-group-addon">Titre </span>
                        {{ form_widget(form.nom, {'attr': {'placeholder': 'Titre ','class':'form-control'}})  }}
            </div>

            <div class="form-group">
                    <span class="input-group-addon">Description </span>
                    {{ form_widget(form.description, {'attr': {'placeholder': 'description ','class':'form-control'}})  }}
            </div>

            <div class="form-group">
                    <span class="input-group-addon">prix </span>
                    {{ form_widget(form.prix, {'attr': {'placeholder': 'prix ','class':'form-control'}})  }}
            </div>

            <div class ="form-group">
                <span class="input-group-addon">categorie </span>
                {{ form_widget(form.categorie , {'attr': {'placeholder': 'categorie ','class':'form-control'}}) }}
            </div>

            <div class ="form-group">
                <span class="input-group-addon">validité </span>
                {{ form_widget(form.validite , {'attr': {'placeholder': 'validite ','class':'form-control'}}) }}
            </div>
            <div class ="form-group">
                <span class="input-group-addon">photo </span>
                {{ form_widget(form.photo , {'attr': {'placeholder': 'photo ','class':'form-control'}}) }}
            </div>

        <input type="submit" class="btn-primary btn-lg btn-block">
        <br/>

{{ form_end(form) }}
    <!--</form>-->
{% endblock %}

