<!-- header -->
<div class="header">
    <div class="container">
        <div class="agile_header_grid">
            <div class="header-mdl agileits-logo"><!-- header-two -->
                <h1><a href="{{ path('front_end_homepage') }}">Best Pets</a></h1>
            </div>
            <div class="agileits_w3layouts_sign_in">
                <ul>
                    <li><a href="/login" data-toggle="modal" class="play-icon">Login</a></li>
                    <li>Call us : <span>(+216) 51 09 09 69 </span></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="header-nav"><!-- header-three -->
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- top-nav -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav cl-effect-16">
                        <li><a href="{{ path('front_end_homepage') }}" class="active" data-hover="Home">Home</a></li>
                        <li><a href="{{ path('front_end_about') }}" data-hover="About">About</a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('front_end_vet') }}" data-hover="Veterinarian">Veterinarian</a></li>
                                <li><a href="{{ path('front_end_dress') }}" data-hover="Dresser">Dresser</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gateau <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('animal_index') }}" data-hover="Animales">Animales</a></li>
                                <li><a href="{{ path('sosdisparition_index') }}" data-hover="Sos Disparition">Sos Disparition</a></li>
                            </ul>
                        </li>

                        <li><a href="{{ path('front_end_gallery') }}" data-hover="Gallery">Gallery</a></li>
                        <li><a href="{{ path('front_end_contact') }}" data-hover="Contact">Contact</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- //header -->