{% extends ":FrontEnd:base.html.twig" %}
{% block stylesheets %}
    <style>
        body{background: url("https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Efemmeactuelle.2Efr.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Factu.2Fnews-actu.2Fjob-de-reve-devenez-calineur-pour-chats-39705.2F14560357-1-fre-FR.2Fjob-de-reve-une-clinique-veterinaire-recherche-un-calineur-pour-chats.2Ejpg/748x372/quality/80/crop-from/center/job-de-reve-une-clinique-veterinaire-recherche-un-calineur-pour-chats.jpeg")
        no-repeat;}
    </style>
{% endblock %}
{% block body %}
<h3 class="agileits-title w3title2">Les annonces pour la nourriture</h3>
    <br/>
    {% for nourriture in nourritures  %}
        <div class="agile_gallery_grids">
            <div class="col-sm-4 col-xs-4 agile_gallery_grid">
                <div class="w3ls_gallery_grid">
                    <a href="{{ path('afficher_nourriture',{'page':nourriture.id}) }}" class="lsb-preview wthree_p_grid" data-lsb-group="header">
                        <img src="{{ asset('uploads/images/' ~ nourriture.photo) }}" alt=" " class="img-responsive" height="20" width="20"/>
                        <div class="agileinfo_content_wrap">
                            <div class="agileits_content">
                                <h3>{{ nourriture.nom }}</h3>
                                <p>{{ nourriture.description }}</p>
                                <samp>{{ nourriture.prix }}</samp>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <br/>

    {% endfor %}


{% endblock %}

