{% extends ":BackEnd:index.html.twig" %}

{% block container %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ reclamation.sujet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ reclamation.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_indexAdoption') }}">Retour au liste</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer la reclamation" class="btn-primary">
            {{ form_end(delete_form) }}
        </li>
<li>
    {% if reclamation.idOffre == null and reclamation.idAdoption != null %}
        <a href="{{ path('adoption_deleteAdmin',{'idAdoption':reclamation.idAdoption.idAdoption}) }}">Supprimer l'annonce d'adoption </a>

    {% endif %}
    {% if reclamation.idOffre != null and reclamation.idAdoption == null %}
        <a href="{{ path('reclamation_deleteAdmin',{'id':reclamation.idOffre.id}) }}">Supprimer l'offre petiteur</a>

    {% endif %}
</li>
    </ul>



{% endblock %}
