{% extends ":FrontEnd:base.html.twig" %}

{% block body %}
    <h1>List des Fiche dressages</h1>

    <table class=" table table table-hover table-dark" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Displine</th>
                <th>Obeissance</th>
                <th>Specialite</th>
                <th>Accompagnement</th>
                <th>Interception</th>
                <th>Notetotale</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for f_dressage in f_dressages %}
            <tr>
                <td><a href="{{ path('f_dressage_show', { 'id': f_dressage.id }) }}">{{ f_dressage.id }}</a></td>
                <td>{{ f_dressage.displine }}</td>
                <td>{{ f_dressage.obeissance }}</td>
                <td>{{ f_dressage.specialite }}</td>
                <td>{{ f_dressage.accompagnement }}</td>
                <td>{{ f_dressage.interception }}</td>
                <td>{{ f_dressage.noteTotale }}</td>
                <td>{% if f_dressage.dateDebut %}{{ f_dressage.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if f_dressage.dateFin %}{{ f_dressage.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ f_dressage.etat }}</td>
                <td><a href="{{ path('f_dressage_show', { 'id': f_dressage.id }) }}"><span class="glyphicon glyphicon-hand-up"></span></a></td>
                <td><a href="{{ path('f_dressage_edit', { 'id': f_dressage.id }) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="{{ path('f_dressage_delete', { 'id': f_dressage.id }) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                 </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('f_dressage_new') }}">Create a new f_dressage</a>
        </li>
    </ul>
{% endblock %}
