{% extends ":FrontEnd:base.html.twig" %}

{% block body %}
    <h1>Fiche de Dressage </h1>
    <ul class="list-group">
               <li class="list-group-item">Displine : {{ f_dressage.displine }}</li>
        <li class="list-group-item">Obeissance : {{ f_dressage.obeissance }}  </li>
        <li class="list-group-item">Specialite : {{ f_dressage.specialite }}   </li>
        <li class="list-group-item">Accompagnement : {{ f_dressage.accompagnement }}  </li>
        <li class="list-group-item">Interception : {{ f_dressage.interception }}  </li>
        <li class="list-group-item">Notetotale : {{ f_dressage.noteTotale }} </li>
        <li class="list-group-item">Datedebut : {% if f_dressage.dateDebut %}{{ f_dressage.dateDebut|date('Y-m-d') }}{% endif %}</li>
        <li class="list-group-item">Datefin : {% if f_dressage.dateFin %}{{ f_dressage.dateFin|date('Y-m-d') }}{% endif %}</li>
    </ul>

            <a  type="submit"  href="{{ path('imprimer', { 'id': f_dressage.id }) }}"><span class="btn btn-primary" >Imprimer</span></a>
<br>
{% endblock %}
