

{% trans_default_domain 'FOSUserBundle' %}



<section id="main-content">
    <section class="wrapper">
        <h3 class="agileits-title w3title2">login or register</h3>

        <div class="container padding">
            <div class="col-lg-12 col-sm-offset-4">
                <div class="col-sm-12 contact-right">

                    <form id="ABCDEF" class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <table>
                            <tr>
                                <td width="330px">
                                    <input class="B form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Pseudo" autofocus/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="B form-control" type="password" id="password" name="_password" required="required" placeholder="Mot De Passe" autofocus/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="B" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">Se Souvenir De Moi</label>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" style="width: 320px;"/>
                                </td><td></td>

                            </tr>


                        </table>

                    </form>
                    <table>
                        <tr>



                            <a href="{{ path('fos_user_registration_register') }}"><input type="submit" value="{{ 'layout.register'|trans({}, 'FOSUserBundle') }}" style="width: 320px;"></a>
                            {% if error %}
                                <div><p style="color: #9f191f">{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>






