

{% trans_default_domain 'FOSUserBundle' %}


<<<<<<< HEAD

<section id="main-content">
    <section class="wrapper">
        <h3 class="agileits-title w3title2">login or register</h3>

        <div class="container padding">
            <div class="col-lg-12 col-sm-offset-4">
                <div class="col-sm-12 contact-right">

                    <form id="ABCDEF" class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <table>
                            <tr>
                                <td width="330px">
                                    <input class="B form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Pseudo" autofocus/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="B form-control" type="password" id="password" name="_password" required="required" placeholder="Mot De Passe" autofocus/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="B" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">Se Souvenir De Moi</label>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" style="width: 320px;"/>
                                </td><td></td>

                            </tr>


                        </table>

                    </form>
                    <table>
                        <tr>



                            <a href="{{ path('fos_user_registration_register') }}"><input type="submit" value="{{ 'layout.register'|trans({}, 'FOSUserBundle') }}" style="width: 320px;"></a>
                            {% if error %}
                                <div><p style="color: #9f191f">{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>





=======
<title>zanimo | Login</title>
<body class="hold-transition register-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{{ path('fos_user_security_login') }}"><b>Zanimo</b>Login</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group has-feedback">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="Text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" >
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required" autocomplete="current-password" >
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Sign In</button>
                </div>
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
                Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
                Google+</a>
        </div>
        <a href="#">I forgot my password</a><br>
        <a href="{{ path('fos_user_registration_register') }}" class="text-center">Register a new membership</a>
    </div>
</div>
</body>
>>>>>>> 86b7bb1139bc00c38637403ffdd2dbb6fb993f86
