
{% extends ':FrontEnd:base.html.twig' %}




{% block stylesheets %}
    <style>
        body{background: url("https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Efemmeactuelle.2Efr.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Factu.2Fnews-actu.2Fjob-de-reve-devenez-calineur-pour-chats-39705.2F14560357-1-fre-FR.2Fjob-de-reve-une-clinique-veterinaire-recherche-un-calineur-pour-chats.2Ejpg/748x372/quality/80/crop-from/center/job-de-reve-une-clinique-veterinaire-recherche-un-calineur-pour-chats.jpeg")
        no-repeat;}
    </style>
{% endblock %}
{% block body %}

    <div class="container" >
        <h3 class="agileits-title w3title2">Modifier votre Offre</h3>

        <div class="row">

            {{ form_start(edit_form, {'attr': {'class': 'form'}}) }}
            <div class="form-group">
                <label for="observation">description</label>
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control','name':'description'}}) }}
            </div>
            <div class="form-group date">
                {{ form_label(edit_form.prix ) }}
                {{ form_widget(edit_form.prix ,{'attr': {'class':'form-control datepicker'}}) }}

            </div>
            <div class="form-group ">
                {{ form_label(edit_form.adresse ) }}
                {{ form_widget(edit_form.adresse ,{'attr': {'class':'form-control datepicker'}}) }}

            </div>
            <div class="form-group ">
                {{ form_label(edit_form.race ) }}
                {{ form_widget(edit_form.race ,{'attr': {'class':'form-control datepicker'}}) }}

            </div>



            <div class="form-group">
                <input type="submit" value="Modifier votre offre Petiteur" class=" btn-primary btn-lg btn-block"/>
            </div>

            {{ form_end(edit_form) }}
            {{ form_start(delete_form ,{'attr': {'class': 'form-group'}}) }}
            <input type="submit" value="Supprimer votre offre" class=" btn-primary btn-lg btn-block">
            {{ form_end(delete_form) }}
        </div>



    </div>

{% endblock %}



