{% extends ':FrontEnd:base.html.twig' %}

{% block body %}
    <h1>Offre petiteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offrePetiteur.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offrePetiteur.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ offrePetiteur.prix }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ offrePetiteur.etat }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ offrePetiteur.race }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('reclamation_newOffre',{ 'id':offrePetiteur.id } ) }}">ajouter  une reclamation</a>
        </li>
        <li>
            <a href="{{ path('offrepetiteur_index') }}">retour au liste</a>
        </li>

    </ul>
{% endblock %}
