{% extends ':FrontEnd:base.html.twig' %}


{% block body %}

    <!-- welcome -->
    <div class="welcome">

        <h3 class="agileits-title">liste des annoces d'adoptions</h3>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <ul>
                <li>        <a href="{{ path('adoption_new') }}">ajouter une annonce d'adoption</a>
                </li>
                <li>        <a href="{{ path('adoption_vosAnnonces') }}">voir vos annonces</a>
                </li>
            </ul>

        {% endif %}
        <br>
        <div>
            <form method="post" action="{{ path('adoption_index') }}">
                Recherche : <br>
                lieu :
                <input type="text" name="lieu" id="lieu">

                type d'annonces :
                <select name="type" id="type">
                    <option value="">les deux</option>
                    <option value="donner">adoptez définitivement</option>
                    <option value="deleger">adoptez temporairement</option>
                </select>
                race de l'animal :
                <select name="race" id="race">
                    <option value="">tous les races</option>
                    <option value="chien">chien</option>
                    <option value="chat">chat</option>
                    <option value="oiseau">oiseau</option>
                    <option value="cheval">cheval</option>

                </select>
                <input type="submit" value="Recherche">
            </form>        </div>
        <br>
        <br>
        {% for adoption in adoptions %}
            {% if adoption.etatAdoption==1 %}


            <div class="container">
                <div class="col-md-6 w3ls_welcome_right">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="agileits_w3layouts_welcome_grid">
                                    <img src="{{ asset('FrontEnd/images/g1.jpg') }}" alt=" " class="img-responsive" />
                                </div>
                            </li>
                            <li>
                                <div class="agileits_w3layouts_welcome_grid">
                                    <img src="{{ asset('FrontEnd/images/g2.jpg') }}" alt=" " class="img-responsive" />
                                </div>
                            </li>
                            <li>
                                <div class="agileits_w3layouts_welcome_grid">
                                    <img src="{{ asset('FrontEnd/images/g3.jpg') }}" alt=" " class="img-responsive" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 w3ls_welcome_left">
                    <div class="w3ls_welcome_right1">
                        <h4 class="agileits-title"></h4>
                        <h6>{% if adoption.dateannonce %}{{ adoption.dateannonce|date('Y-m-d') }}{% endif %}</h6>
                        <h6>{% if adoption.type=="deleger" %}
                            {{ adoption.idAnimal.race }}  a adopter temporairement
                            {% else %}
                                {{ adoption.idAnimal.race }}  a adopter définitivement
                            {% endif %}</h6>
                        <p>{{ adoption.description }}</p>
                        <div class="w3l_more">
                            <a href="{{ path('adoption_show', { 'idAdoption': adoption.idAdoption }) }}" class="button button--nina" data-text="Learn more">
                                <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            {% endif %}
        {% endfor %}
        {{ pagination(adoptions, 'page') }}
    </div>
    <!-- //welcome -->

{% endblock %}
