{% extends ':FrontEnd:base.html.twig' %}

{% block body %}
    <h1>les  Demande de garderie proposeé</h1>

    <table>
        <thead>
            <tr>
                <th>Animal</th>
                <th>Message</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>voir</th>
                <th>Accepter</th>
                <th>Refusser</th>
            </tr>
        </thead>
        <tbody>
        {% for demandeGard in demandeGards %}
            <tr>
                <td>{{ demandeGard.idAnimal.race }}</td>
                <td>{{ demandeGard.message }}</td>
                <td>{% if demandeGard.dateDebut %}{{ demandeGard.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if demandeGard.dateFin %}{{ demandeGard.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('demandegard_show', { 'id': demandeGard.id }) }}"><button>voir</button></a>
                        </li>
                    </ul>
                </td>
                <td><a  href="{{ path('demandegard_accept', { 'id': demandeGard.id }) }}"><button>accepter</button></a></td>
                <td><a  href="{{ path('demandegard_refuse', { 'id': demandeGard.id }) }}"><button>refuser</button></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
