{% extends ':FrontEnd:base.html.twig' %}

{% block body %}
    <h3 class="agileits-title w3title2">les  Demande de garderie proposeé</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Animal</th>
                <th>Message</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>voir</th>
                <th>Accepter</th>
                <th>Refusser</th>
            </tr>
        </thead>
        <tbody>
        {% for demandeGard in demandeGards %}
            <tr>
                <td>{{ demandeGard.idAnimal.race }}</td>
                <td>{{ demandeGard.message }}</td>
                <td>{% if demandeGard.dateDebut %}{{ demandeGard.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if demandeGard.dateFin %}{{ demandeGard.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>

                            <a href="{{ path('demandegard_show', { 'id': demandeGard.id }) }}"><button class="btn btn-sm     btn-block">voir</button></a>

                </td>
                <td><a  href="{{ path('demandegard_accept', { 'id': demandeGard.id }) }}"><button class="btn btn-primary btn-block">accepter</button></a></td>
                <td><a  href="{{ path('demandegard_refuse', { 'id': demandeGard.id }) }}"><button class="btn btn-danger btn-block">refuser</button></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
