{% extends 'FrontEnd/base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Animal de {{ animal.nomproprietaire }}</h1>
    <div class="row">
        <div class="col-md-4">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="{{ asset('upload/images/' ~animal.image) }}" alt="User Image">
                        <span class="username"><a href="#">{{ animal.nom }}.</a></span>
                        <span class="description">{% if animal.datedenaissance %}{{ animal.datedenaissance|date('Y-m-d') }}{% endif %}</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img class="img-responsive pad" src="{{ asset('upload/images/' ~animal.image) }}" alt="Photo">

                    <p>Description :
                        &nbsp;
                        {{ animal.description }}</p>
                    <button type="button"  class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> <a href="{{ path('addlk', { 'id': animal.id }) }}"> Like</a></button>
                    {#{% if  {{ an.likeNumber}}  %}#}
                    {#{% else %}#}
                    {#{% endif %}#}
                    {% for a in an  %}
                        <span class="pull-right text-muted">{{ a.likeNumber }} j'aime</span>
                </div>
                    {% endfor %}
                <!-- /.box-footer -->

            <!-- /.box -->
        </div>
        <!-- /.col -->

        <!-- /.col -->

                    <a  class="btn btn-primary"  href="{{ path('animal_index') }}">Back to the list</a>
                <a  type="submit"  class="btn btn-danger"  href="{{ path('mesanimal') }}">my animals</a>

                <br>
            <br>

        </div>
    </div>
    </div>


{% endblock %}
